@import "compass";
@import "variables";

// =========
// = Aside =
// =========

$image-size  : 128px;
$border-size : 8px;

aside {

  /**
   * The large avatar image treatment.
   */
  img {
    width         : $image-size;
    height        : $image-size;
    border        : $border-size solid $white-color;
    display       : block;
    margin        : auto;
    margin-bottom : 25px;
    @include border-radius( ( $image-size / 2 ) + $border-size );
    @include box-shadow( rgba( #000, 0.7 ) 0 1px 6px );
  }

  /**
   * The social links at the bottom of the aside.
   */
  nav {
    text-align : center;

    a {
      padding     : 6px;
      line-height : 40px;
      @include link-color( $black-color );
    }
  }
}
