//= require_self

@import "compass";
@import "variables";

// ========
// = Post =
// ========

article {
  margin-bottom : 50px;
}
article footer {
  font-family    : $body-font;
  font-weight    : normal;
  font-size      : 12px;
  line-height    : 16px;
  text-transform : none;
  padding        : 4px 12px;
  padding-top    : 15px;
  border-top     : 1px solid lighten( $black-color, 20% );
  color          : $black-color;

  span {
    vertical-align : middle;
    margin-right   : 10px;
    font-weight    : bold;
  }
  ul {
    @include inline-block;
    @include inline-block-list( 5px );
  }
}
